# Eclipse
.classpath
.project
.settings/

# Build output
/bin/
/target/
/out/
/build/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iml

# Maven/Gradle wrapper logs
.mvn/
.gradle/
